.topnav {
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #333333;
    box-shadow: 0 4px 6px -6px rgb(197, 197, 197);
}

.topnav a {
    float:right;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    border-radius: 50%;
}